.mybutton{
	background-color: rgb(17, 128, 219);
	border:none;
	color: white;
	padding: 1%;
	text-align: center ;
	text-decoration: none;
	display: inline-block;
	front-size:	5%;
	width: 25%;
	
}

.mybutton:hover{
	background-color: rgb(105, 208, 248);
}

.box{
	width: 100%;
  	padding: 2%;
  	border: 5px solid rgb(91, 123, 212);
	border-collapse: separate;
	border-spacing: 20%;
	margin-top: 5%;
  	margin-bottom: 5%;
}